<h1>About</h1>
<div class="about">
    <br>
    <p>
        Isaac is an extremely outgoing and friendly boy who loves to greet all he meets.
        He has early indications of being the life of the party, but is also generally
        quite pleased in a quieter setting with a good book. Being the youngest among
        three brothers, Isaac has learned tenacity at a young age. He is very willing to
        enter confrontation via screams and full out tackles, to ensure that he is not steamrolled
        by his older brothers. Even in these times however, Isaac's displays an unusual amount
        self-awareness and empathy towards his rivals. Bottom line is that Isaac is a dream
        addition to Team Weiler.

    </p>
</div>
<hr>
<h2>Technological Expertise</h2>
<br>
<ul>
    <li>Above average interpersonal skills for a two year old</li>
    <li>Impressive hand eye coordination</li>
    <li>Heart melting capabilities</li>
</ul>